<section class="dashboard-panel">
  <h3><%= title %></h3>

  <% change_requests.each do |request| %>
    <div class="summary-section">
      <strong><%= request.summary %></strong>
      <span>— <%= request.status.humanize %></span>
      <% if variant == :open %>
        <br>
        <%= request.details %>
      <% end %>
    </div>
  <% end %>
</section>
