<div class="idea-status-legend">
  <div class="legend-item"><div class="color-box not_started"></div> Not Started</div>
  <div class="legend-item"><div class="color-box in_progress"></div> In Progress</div>
  <div class="legend-item"><div class="color-box on_hold"></div> On Hold</div>
  <div class="legend-item"><div class="color-box completed"></div> Completed</div>
</div>
