<section id="task-calendar-monthly">
  <%= render "shared/logged_in_heading",
        icon: goal_icons["calendar"],
        title: "Monthly Calendar" %>
  <%= month_calendar(attribute: :due_date) do |date| %>
    <ul class="task-calendar-monthly-day">
      <strong class="date_day"><%= date.day %></strong>

      <% tasks_for_date = tasks.select { |task| task.due_date.present? && task.due_date.in_time_zone.to_date == date } %>
      <% tasks_for_date.sort_by { |t| [t.priority.nil? ? -1 : t.priority] }.each do |task| %>
        <li class="task">
          <% emoji_classes = ["task-emoji"] %>
          <% emoji_classes << "is-completed" if task.completed? %>
          <%= link_to (goal_icons[task.goal&.category] || "📝"),
                task_path(task),
                title: task.task_name,
                class: emoji_classes.join(" ") %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
