<h1 style="text-align:center;">Tasks</h1>

<div class="kanban-board">

  <% @tasks_by_status.each do |status, tasks| %>
    <div class="kanban-column <%= status %>">
      <h2><%= status.to_s.humanize %></h2>

      <% tasks.each do |task| %>
        <%= render "shared/task_card", task: task %>
      <% end %>
    </div>
  <% end %>

</div>