<div class="tasks-list">
  <div class="task-card <%= @task.status.humanize %>">
    <%= render "details", task: @task %>
    <%= render "actions", task: @task %>
  </div>
</div>

<%= render "nav", task: @task %>
