<ul>
  <% blog_posts.each do |blog_post| %>
    <li>
      <h3><%= blog_post.title %></h3>
      <p><%= blog_post.description %></p>

      <% if blog_post.image.present? %>
        <div class="card-image-frame">
          <% proxy_url = image_proxy_url(blog_post_image_key(blog_post.image), width: 500, height: 500, fit: "inside", format: "webp") %>
          <%= image_tag proxy_url, class: "card-image", loading: "lazy", decoding: "async" if proxy_url %>
        </div>
      <% end %>

      <div>
        <%= link_to "Read More", blog_post_path(blog_post) %>
      </div>
    </li>
  <% end %>
</ul>
