<h3>Completed Rewards</h3>
<div class="reward-list completed">
  <% rewards.each do |reward| %>
    <div class="reward-row">
      <%= link_to reward.name.presence || "Reward ##{reward.id}", reward_path(reward) %>
    </div>
  <% end %>
</div>
