<% if reward.completed_reward_url.present? %>
  <p>
    <strong>Raw footage path:</strong><br>
    <code class="select-all"><%= reward.completed_reward_url %></code>
  </p>

  <% if reward.completed_reward_notes.present? %>
    <p>
      <strong>Notes:</strong><br>
      <%= simple_format(reward.completed_reward_notes) %>
    </p>
  <% end %>
<% end %>
