<div class="reward-gallery">
  <% if gaming_levels.include?(level) %>
    <% public_games.each do |game| %>
      <img
        src="<%= game_image_url(game) %>"
        alt="<%= game.game_title %>"
      />
    <% end %>
  <% end %>
</div>
