<h3>All Rewards</h3>

<% earned_rewards = rewards.select { |r| r.kind == "earned" } %>
<% redeemed_rewards = rewards.select { |r| r.kind == "redeemed" } %>
<% completed_rewards = rewards.select { |r| r.kind == "completed" } %>

<%= render "reward_history_earned",
      rewards: earned_rewards,
      public_games: public_games %>
<%= render "reward_history_redeemed", rewards: redeemed_rewards %>
<%= render "reward_history_completed", rewards: completed_rewards %>
