<div class="task-rewards">
  <h3>Today’s Task Rewards</h3>

  <div class="reward-list">
    <% task_rewards_today.each do |reward| %>
      <div class="reward-row">
        <span>
          <%= reward.reward_payload["item"] %>
          (Level <%= reward.reward_payload["level"] %>)
        </span>

        <%= button_to "Redeem",
              redeem_task_reward_path(reward),
              method: :post,
              class: "btn btn-success btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
