<% gaming_levels = [1, 2] %>

<div class="rewards">
  <%= render "task_rewards", task_rewards_today: @task_rewards_today %>
  <hr>

  <%= render "level_rewards",
        earned_by_level: @earned_by_level,
        redeemed_levels: @redeemed_levels,
        public_games: @public_games,
        gaming_levels: gaming_levels %>
  <hr>

  <%= render "reward_history",
        rewards: @rewards,
        public_games: @public_games %>

  <%= render "pagination",
        rewards_page: @rewards_page,
        rewards_total_pages: @rewards_total_pages %>
</div>
