<section id="videos">
  <h2><%= @video.title %></h2>
  <% if @video.youtube_id.present? %>
    <iframe src='https://www.youtube.com/embed/<%= @video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
  <% end %>
  <p><%= @video.description %></p>
</section>
