<% if form_object.errors.any? %>
  <div class="error-explanation">
    <h2><%= pluralize(form_object.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul>
      <% form_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
