<% if form_object.errors.any? %>
  <div class="error-explanation">
    <h2>Save failed. Fix the errors below:</h2>
    <ul>
      <% form_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
