<% if total_pages.to_i > 1 %>
  <nav class="pagination">
    <% if page > 1 %>
      <%= link_to "Prev", send(path_helper, page: page - 1) %>
    <% end %>
    <span>Page <%= page %> of <%= total_pages %></span>
    <% if page < total_pages %>
      <%= link_to "Next", send(path_helper, page: page + 1) %>
    <% end %>
  </nav>
<% end %>
