<section class="featured-blog-posts">
  <h2>Featured Blog Posts</h2>
  <ul>
    <% featured_blog_posts.each do |blog_post| %>
      <li>
        <h3><%= blog_post.title %></h3>
        <p><%= blog_post.description %></p>
        <% if blog_post.image.present? %>
          <%= image_tag s3_url("blog/#{blog_post.image}") %>
        <% end %>
        <div>
          <%= link_to "Read More", blog_post_path(blog_post) %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
