<section class="featured-videos">
  <h2>Featured Videos</h2>
  <ul>
    <% featured_videos.each do |video| %>
      <li>
        <h3><%= video.title %></h3>
        <p><%= video.description %></p>
        <% if video.youtube_id.present? %>
          <iframe src="https://www.youtube.com/embed/<%= video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
