<section class="featured-about">
  <%= image_tag s3_url("branding/lightning.png"), class: "featured-about-bg" %>

  <div class="featured-about-text">
    <div class="rotating-words">
      <span>Designing</span>
      <span>Creating</span>
      <span>Building</span>
      <span>Developing</span>
      <span>Deploying</span>
      <span>Delivering</span>
    </div>

    <h3 class="featured-about-subtitle">Since 2020</h3>
  </div>
</section>
