<ul class="actions-list">
  <li><%= link_to "#{GOAL_ICONS["back"]}#{GOAL_ICONS["goal"]}", goal_path(goal) %>Back to Goal</li>
  <li><%= link_to "#{GOAL_ICONS["goal"]}", goals_path %>Go to Goals</li>
  <li><%= link_to "#{GOAL_ICONS["task"]}", tasks_path %>Go to Tasks</li>
  <li class="action-divider"><hr></li>
  <li><%= button_to "Delete Recurring Task", goal_recurring_task_path(goal, recurring_task), method: :delete, data: { confirm: "Delete this recurring task?" } %></li>
</ul>
