<ul class="landscaping-contact">
  <li><strong>Text or Call:</strong> <a href="tel:2538201048">253-820-1048</a></li>
  <li><strong>Email:</strong> <a href="mailto:aaronwood8888@gmail.com">aaronwood8888@gmail.com</a></li>
</ul>
