<ul class="services-list">
  <li>One-Time Yard Cleanups</li>
  <li>Lawn Mowing & Edging</li>
  <li>Hedge & Shrub Trimming</li>
  <li>Flower Bed Weeding & Refreshing</li>
  <li>Gravel Path Restoration</li>
  <li>Parking Strip & Curbside Cleanups</li>
  <li>Leaf & Debris Blowing</li>
  <li>Seasonal Yard Maintenance Packages</li>
  <li>Small Business Landscape Maintenance</li>
  <li>Light Hauling & Green Waste Removal</li>
</ul>
