<div id="<%= dom_id document %>">
  <p>
    <%= document.title %>
  </p>

  <% if document.images.present? %>
    <%= image_tag document_image_url(document, document.images[0]['file']), style: "max-width:150px" %>
  <% end %>

</div>