<div id="<%= dom_id document %>">
  <p>
    <%= document.title %>
  </p>

  <% if document.images.present? %>
    <% img = document.images.first %>
    <% if img.present? && img["file"].present? %>
      <%= image_tag document_image_url(document, img),
            style: "max-width:150px" %>
    <% end %>
  <% end %>

</div>
