<div id="<%= dom_id document %>">
  <h3><%= document.title %></h3>

  <% if document.images.present? %>
    <% img = document.images.first %>
    <% if img.present? && img["file"].present? %>
      <div class="card-image-frame">
        <%= image_tag document_image_url(document, img), class: "card-image" %>
      </div>
    <% end %>
  <% end %>

</div>
