<section class="document">
  <h1><%= @document.title %></h1>
  <%= render "document_sections", document: @document %>
  <%= render "document_videos", document: @document %>
  <%= render "document_metadata", document: @document %>
</section>
