<section class="document">
<%= render "shared/logged_in_heading",
      icon: "📚",
      title: @document.title %>
  <%= render "document_sections", document: @document %>
  <%= render "document_videos", document: @document %>
  <%= render "document_metadata", document: @document %>
</section>
