<section id="game-container">
  <h2><%= @game.game_name %></h2>
  <div id="game">
    <%= render "videos", game: @game %>
    <%= render "progress", game: @game %>
    <%= render "image_gallery", game: @game %>
  </div>
</section>
