<section id="game-container">
<%= render "shared/logged_in_heading",
      icon: "🎮",
      title: @game.game_name %>
  <div id="game">
    <%= render "videos", game: @game %>
    <%= render "progress", game: @game %>
    <%= render "image_gallery", game: @game %>
  </div>
</section>
