<section class="projects">
  <h2 class="page-title">Projects</h2>
  <%= render "project_list", projects: @projects %>
  <%= render "shared/pagination",
        page: @projects_page,
        total_pages: @projects_total_pages,
        path_helper: :projects_path %>
</section>
