<h1>Feedback</h1>

<%= render "feedback_list", title: "Open", feedback: @open_feedback, variant: :open %>
<%= render "feedback_list", title: "Completed", feedback: @completed_feedback, variant: :completed %>

<%= link_to "➕ New Feedback", new_feedback_path, class: "btn" %>
