<section class="about">
  <h1 class="page-title">About AW Development</h1>

  <ul id="paragraphs_from_db">
    <% @about_sections.each_with_index do |section, index| %>
      <li>
        <div class="about-image">
          <%= image_tag about_image_url("#{index + 1}.png"),
            alt: "Logo",
            class: "about-image-img" %>
        </div>
        <h3><%= section.header %></h3>
        <p><%= section.body %></p>
      </li>
    <% end %>
  </ul>
</section>
