<%= render "shared/logged_in_heading",
      icon: GOAL_ICONS["goal"],
      title: "Edit Goal" %>

<%= render "form", goal: @goal %>

<br>

<div>
  <%= link_to "Show this goal", @goal %> |
  <%= link_to "Back to goals", goals_path %>
</div>
