<h1 class="page-title page-title--centered">Goals</h1>

<div class="kanban-board">

  <% @goals_by_status.each do |status, goals| %>
    <div class="kanban-column <%= status %>">
      <h2><%= status.to_s.humanize %></h2>

      <% goals.each do |goal| %>
        <%= render "shared/goal_card", goal: goal %>
      <% end %>
    </div>
  <% end %>

</div>
