<div class="day-slots">
  <% EatLog::SLOTS.each do |slot| %>
    <div class="day-slot">
      <div class="day-slot-label"><%= slot.capitalize %></div>
      <%= render "kitchen/eat_log_cell",
            date:            date,
            slot:            slot,
            eat_logs:        eat_logs_by_slot[slot],
            prepared_dishes: prepared_dishes %>
    </div>
  <% end %>
</div>
