// Shared color palette
.green  { background-color: $legend-green; }
.yellow { background-color: $legend-yellow; }
.red    { background-color: $legend-red; }
.black  { background-color: $legend-black; color: $text-on-primary; }
.gray   { background-color: $legend-gray; }
