$primary-color: #3a579d;
$secondary-color: #3e3e3e;
$background-color: #ecf0f1;
$text-color: #465563;
$hover-color: lighten($primary-color, 30%);
$font-stack: 'Roboto', sans-serif;

.document ul {
    list-style-type: none;
}