$primary-color: #3a579d;
$secondary-color: #3e3e3e;
$background-color: #ecf0f1;
$text-color: #465563;
$hover-color: lighten($primary-color, 30%);
$font-stack: 'Roboto', sans-serif;
#game-container {
    h2 {
      font-size: 2rem;
      color: $primary-color;
      text-align: center;
    }
    #game {
        text-align: center;
        padding: 2rem;
        background-color: lighten($background-color, 10%);
        border-radius: 8px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        max-width: 500px;
        margin: 0 auto 2rem auto;
        h3 {
            color: $primary-color; 
            margin-top: 1.5rem;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        iframe {
            width: 325px!important;
            height: 183px!important;
            border: none;
        }
        img {
            width: 325px;
            height: auto;
        }
        #achievements {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            a {
                text-decoration: none;
                color: white;
            }
            #achievement {
                border: 1px solid black;
                background-color: $primary-color;
                padding: .5em;
                border-radius: 3px;
                width: 125px;
            }
        }
    }
}