.navbar {
  background-color: $navbar-bg;
  padding: $spacing-md;
  border-bottom: 2px solid $primary-color;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // Center the items
    margin: 0;
    padding: 0;

    li {
      margin: $spacing-xs;

      a {
        color: $navbar-link;
        text-decoration: none;
        padding: $spacing-xs $spacing-md;
        border-radius: $radius-xxs;
        transition: background-color $transition-base;

        &:not(:has(img)):hover {
          background-color: $primary-color;
        }
      }

      // Logo special style
      .navbar-logo {
        height: $navbar-logo-height; // Set a height for the logo
        width: auto; // Keep the aspect ratio
      }
    }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .navbar {
    ul {
      flex-direction: column; // Stack items vertically
      align-items: center; // Center the items

      li {
        width: 100%; // Make each item full-width
        text-align: center; // Center text
      }
    }
  }
}
