.navbar {
  background-color: $navbar-bg;
  padding: 1rem;
  border-bottom: 2px solid $primary-color;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // Center the items
    margin: 0;
    padding: 0;

    li {
      margin: 0.5rem;

      a {
        color: $navbar-link;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color $transition-base;

        &:not(:has(img)):hover {
          background-color: $primary-color;
        }
      }

      // Logo special style
      .navbar-logo {
        height: 150px; // Set a height for the logo
        width: auto; // Keep the aspect ratio
      }
    }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .navbar {
    ul {
      flex-direction: column; // Stack items vertically
      align-items: center; // Center the items

      li {
        width: 100%; // Make each item full-width
        text-align: center; // Center text
      }
    }
  }
}
