.services,
.featured-services {
  text-align: center;

  .page-title {
    text-align: center;
  }

  ul li h2,
  ul li h3 {
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
    white-space: normal;
  }

  .page-intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  ul {
    text-align: center;
  }

  ul li {
    text-align: center;
  }

  .card-actions {
    display: flex;
    justify-content: center;
    gap: $spacing-sm;
    flex-wrap: wrap;
    margin-top: $spacing-md;
  }

  .card-actions a {
    @include action-primary();
  }

}

.services .service-category,
.featured-services .service-category {
  font-size: $font-base;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: lighten($text-color, 10%);
  margin: 0 0 $spacing-xs;
}
