.page-title--centered {
  text-align: center;
}

.m-0 { margin: 0; }
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: $spacing-md; }
.mb-2 { margin-bottom: $spacing-xl; }

.action-divider {
  width: $action-divider-width;
}

.text-danger {
  color: $danger-color;
}

.select-all {
  user-select: all;
}
