.page-title--centered {
  text-align: center;
}

.m-0 { margin: 0; }
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }

.action-divider {
  width: 150px;
}

.text-danger {
  color: #c0392b;
}

.select-all {
  user-select: all;
}
