.reports-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reports-panel {
  @extend %panel;

  h3 {
    margin-bottom: $spacing-sm;
  }

  .summary-section {
    margin-bottom: $spacing-sm;
    font-size: $font-base;
  }
}
