.reports-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reports-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 90%;
  max-width: 1150px;
  margin: 1rem auto;
  padding: 1rem;

  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  h3 {
    margin-bottom: 0.75rem;
  }

  .summary-section {
    margin-bottom: 0.75rem;
    font-size: 0.95rem;
  }
}
