<div class="reports-wrapper">
  <h1>Accountability Reporting</h1>
  <%= render "monthly_summary",
        completed_on_time_count: @completed_on_time_count,
        completed_late_count: @completed_late_count,
        missed_tasks_count: @missed_tasks_count,
        missed_minutes_lost: @missed_minutes_lost,
        days_since_last_completion: @days_since_last_completion %>
  <%= render "completion_chain", completion_chain: @completion_chain %>
  <%= render "report_card",
        letter_grade: @letter_grade,
        report_completed_count: @report_completed_count,
        report_available_count: @report_available_count,
        completion_rate: @completion_rate %>
</div>
