<nav class="navbar">
  <%= render "layouts/nav_public" %>
  <% if user_signed_in? %>
    <details class="nav-signed-in-details">
      <summary class="nav-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </summary>
      <%= render "layouts/nav_signed_in" %>
    </details>
  <% end %>
</nav>
